@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply text-foreground bg-background font-sans;
  }

  h1 {
    @apply text-[3.375rem] font-light leading-[110%] tracking-[-2.16px] font-sans;
  }

  p {
    @apply text-base font-normal leading-[145%] tracking-[-0.16px] font-sans;
  }
}
